<div class="navbar navbar-light" style="background-color: #eceff1;">
    <a class="navbar-brand" href="/" style="display: block; margin: auto;">
        <img width="200px" src="/img/perguntas-e-respostas.png">
    </a>
</div>